.logo {
  // 例子
  -webkit-animation: fadeInUp 1.5s ease both;
}

.page1 {
  .img2 {
    -webkit-animation: fadeInLeft 1.8s ease ,pulse 1.5s linear 2s  infinite;
  }

  .img3 {
    -webkit-animation: fadeInLeft 1.8s ease .5s both;
  }

  .img4 {
    -webkit-animation: fadeInLeft 1.8s ease 1s both;
  }

}

.page2 {
  .img1 {
    -webkit-animation: fadeInLeft 1.8s ease;
  }

  .img2 {
    -webkit-animation: fadeInLeft 1.8s ease .5s both;
  }
}

.page3 {
  .img2 {
    -webkit-animation: fadeInLeft 1.8s ease both;
  }

  .img3 {
    -webkit-animation: fadeInLeft 1.8s ease .5s both;
  }

  .img4 {
    -webkit-animation: fadeInLeft 1.8s ease 1s both;
  }

  .img5 {
    -webkit-animation: fadeInLeft 1.8s ease .8s both;
  }

  .img6 {
    -webkit-animation: fadeInRight 1.8s ease 1.3s both;
  }
}
